.badgybadge{
    background-color: blue;
    border-radius: 5px;
    padding : 3px;
    color:white;
    font-weight: bold
}

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}
.threed:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}